<header class="bg-dark py-1">
  <div class="container px-5 px-lg-5 my-5">
    <div class="text-center text-white">
      <h1 class="display-8 fw-bolder">Sua loja virtual preferida</h1>
      <p class="lead fw-normal text-white-50 mb-0">Otprime, mexendo com sua cabeça</p>
    </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
      <% @products.each do |product| %>
        <div class="card m-3">
          <% if product.image.present? && product.image.attached? %>  
            <%= image_tag product.image.variant(:thumb).processed, class: "card-img-top", style: "width:auto; height:200px " %>
          <% else %>
            <%= image_tag "default_image.jpg", class: "card-img-top", alt: "No Image Available" %>
          <% end %>
          <% if product.promo? %>
            <div class="badge bg-danger text-white position-absolute" style="top: 0.5rem; right: 0.5rem">Promoção</div>
          <% end %>          
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name-->
              <h5 class="fw-bolder"><%= product.name %></h5>
              <!-- Product price-->
              <%= product.price %>                
            </div>
          </div>
          <!-- Product actions-->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <%= form_with(model: @cart, url: carts_path, local: true, html: { method: "post" }) do |f| %>
                <%= f.hidden_field :id, value: product.id %>
                <div class="row">
                  <div class="col-md-6">
                    <%= f.label :quantity, "Quantidade:", class: "form-label" %>
                  </div>
                  <div class="col-md-6">
                    <%= f.number_field :quantity, value: 1, min: 1, class: "form-label text-center", style: "width: 50px;" %>
                  </div>
                </div>
                <div class="col-12">
                  <%= f.submit "Adicionar ao carrinho", class: "btn btn-outline-dark mt-auto" %>
                </div>
              <% end %>       
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
