<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">            
            <%= image_tag "image.png", alt: "Logo", width: 50, height: 50, style: " margin-left: -90px " %> 
            <a class="navbar-brand" style="margin-left: 60px;" href="<%= root_path %>">Otprime Store</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">                              
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <!--
                    <li class="nav-link"><a class="nav-link active" aria-current="page" href="<%= root_path %>">Home</a></li>
                    <li class="nav-link"><a class="nav-link" href="#!">Meu perfil</a></li>
                    --->
                    <%= render "layouts/store/user_signed" %>
                </ul>       
                <% if current_user && current_user.cart.present? %>
                    <%= link_to "Carrinho", show_items_cart_path(current_user.cart.id), class: "btn btn-outline-dark" %>
                <% end %>
            </div>
        </div>
    </nav>        