<br>
<h1>Meus Pedidos</h1>
<br>
<% @orders.each do |order| %>
  <div>
    <div class="card">
      <div class="card-header">
        Pedido <%= order.id.to_s.first(8) %>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
          <p>Valor R$<%= order.cart.total_price %></p>
          <p>Quantidade: <%= order.quantity %></p>
          <p>Status: <%= order.status.name %></p>
          <p>Forma de pagamento: <%= order.payment_method.name %></p>
          <br>
        </blockquote>
      </div>
    </div>
  </div>
<% end %>
