<div class="checkout-panel">
  <div class="panel-body text-center">
    <h2 class="title">Confira aqui!</h2>

    <div class="mx-auto" style="max-width: 800px;"> <!-- Adicionei esta div com a classe mx-auto -->
      <div class="row justify-content-center">
        <div class="col-md-6">
          <!-- Cartão 1 - Método de Pagamento com Cartão -->
          <div class="card mt-5" style="max-width: 400px;">
            <h5 class="card-header">Método de Pagamento com Cartão</h5>
            <div class="card-body">
              <div class="card-logos text-center">
                <img src="https://designmodo.com/demo/checkout-panel/img/visa_logo.png" alt="Visa Logo"/>
                <img src="https://designmodo.com/demo/checkout-panel/img/mastercard_logo.png" alt="Mastercard Logo"/>
              </div>
              <div class="form-check text-center">
                <input type="radio" class="form-check-input" id="card" name="payment">
                <label class="form-check-label" for="card">
                  Pague R$<%= @cart.total_price %> utilizando seu cartão de crédito
                </label>
              </div>
            </div>
          </div>

          <!-- Cartão 2 - Método de Pagamento com PayPal -->
          <div class="card mt-5" style="max-width: 400px;">
            <h5 class="card-header">Método de Pagamento com PayPal</h5>
            <div class="card-body text-center">
              <img src="https://designmodo.com/demo/checkout-panel/img/paypal_logo.png" alt="PayPal Logo"/>
              <div class="form-check">
                <input type="radio" class="form-check-input" id="paypal" name="payment">
                <label class="form-check-label" for="paypal">
                  Pague R$<%= @cart.total_price %> utilizando o PayPal
                </label>
              </div>
            </div>
          </div>
        </div>

        <!-- Resumo do Pedido -->
        <div class="col-md-6">
          <div class="card mt-5" style="max-width: 400px;">
            <div class="card-body text-center">
            <h5 class="card-title">Resumo do Pedido</h5>
            <% @cart.orderables.each do |orderable| %>
              <p class="card-text">Total de Produtos: <%= orderable.quantity %></p>
              <p class="card-text">Total: R$<%= @cart.total_price %></p>
            <% end %>
          </div>
          <div class="panel-footer mt-4">
            <%= button_to "Finalizar", order_path, method: :post, class: "btn btn-outline-primary", data: { disable_with: "Aguarde..." } %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
