<header>
  <h1>Seu carrinho</h1>
  <% if @cart.present? %>
    <div class="row">
      <% @cart.orderables.each do |orderable| %>
        <% product = orderable.product %>
        <div class="col-md-12 mt-5">
          <div class="card" style="width: 100%;">
            <div class="row">
              <div class="col-md-6">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <% if product&.image.present? %>
                      <%= image_tag product.image.variant(:thumb).processed, class: "card-img", alt: "Imagem de capa do card" %>
                    <% else %>
                      <%= image_tag "default_image.jpeg", class: "card-img", alt: "Imagem de capa do card" %>  
                    <% end %>  
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <% if product.present? %>
                        <h5 class="card-title"><%= product.name %></h5>
                        <p class="card-text"><%= product.description %></p>
                        <p class="card-text">Quantidade: <%= orderable.quantity %></p>
                        <% if product.price.present? %>
                          <p class="card-text">Preço unitário: R$<%= product.price %></p>
                        <% else %>
                          <p class="card-text text-danger">Preço não disponível</p>
                        <% end %>
                        <p class="card-text">
                          <%= button_to "Atualizar", update_cart_cart_path(orderable_id: orderable.id), method: :post, remote: true, class: "btn btn-outline-secondary btn-sm", type: :submit %>
                          <%= button_to "Remover", remove_cart_item_cart_path(orderable_id: orderable.id), method: :post, remote: true, class: "btn btn-outline-danger btn-sm", type: :submit %>
                        </p>
                      <% else %>
                        <p class="card-text text-danger">Produto não encontrado</p>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Resumo do Pedido</h5>
                    <p class="card-text">Total: <%= @cart.total_price %></p>                       
                    <% if @addresses.present? %>
                      <!-- Se houver endereços -->
                      <% if @address.persisted? %>
                        <%= link_to "Endereço", address_path(@address), class: "btn btn-outline-secondary", data: { action: "click->carts#showAddresses" } %>
                      <% else %>              
                        <%= link_to "Novo Endereço", new_address_path, class: "btn btn-outline-secondary" %>
                      <% end %>
                      <%= turbo_stream.replace "addresses" do %>
                        <%= render partial: "carts/address_table", locals: { addresses: @addresses } %>
                      <% end %>
                    <% else %>
                      <!-- Se não houver endereços -->
                      <%= link_to "Novo endereço", new_address_path, class: "btn btn-outline-secondary" %>
                      <%= turbo_stream.replace "new_address_form" do %>
                        <%= render partial: "carts/new_address_form", locals: { address: @address } %>
                      <% end %>
                    <% end %>
                    <%= link_to "Pagamento", new_cart_order_path(@cart), class: "btn btn-outline-primary" %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p>Seu carrinho está vazio.</p>
  <% end %>
</header>
